<!--
 * @Descripttion: 
 * @Author: sjq
 * @Date: 2023-11-10 14:11:25
 * @LastEditors: sjq
 * @LastEditTime: 2023-11-16 09:16:41
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>欢迎</title>
  <link rel="stylesheet" type="text/css" href="../../css/index.css" />
  <script src="../../storeJs/vue@3.3.8.js"></script>
</head>

<body>
  <div>
    欢迎
  </div>
  <!--  <a href="https://sjq4499.github.io/view/christmas/index.html">圣诞节</a>
  520爱心背景表白网页动画特效 
  <a href="https://sjq4499.github.io/view/lovebg/index.html">背景版</a>
  <a href="https://sjq4499.github.io/jobIntroduction">工作介绍</a>
  <a href="https://sjq4499.github.io/web-vue2/#/love?name=%E6%83%A0%E6%83%A0%E5%AE%9D%E8%B4%9D">惠惠宝贝</a>
  <a href="https://sjq4499.github.io/vite-vue3/#/xiaoyi1">惠惠</a>
  <a href="https://sjq4499.github.io/vite-vue3/#/swiper">惠惠</a>-->
  <div id="app">
    <h1>{{ message }}</h1>
    <div v-for="(item,index) in list" :key="index" class="data-list">
      <div class="title">{{item.title}}:</div>
      <div class="date">{{ computerDays(nowDate,item.date) }}</div>
    </div>
  </div>
  <script src="../../js/utils.js"></script>
  <script src="./index.js"></script>
</body>

</html>